@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss"; 

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-roboto: "Roboto", sans-serif;
  --color-white: rgb(255 255 255);
  --color-black: rgb(0 0 0);
  --color-orange-200: rgb(254 215 170);
  --color-orange-300: rgb(253 186 116);
  --color-orange-400: rgb(251 146 60);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(rgb(251, 113, 133), rgb(253, 186, 116));
  min-height: 100vh;
  font-optical-sizing: auto;
}
